.song{
    background-color: #80d4ff;
}
.artist{
    color: #400080;
}
.title{
    color: #660033;
    font-weight: bold;
    font-size: 20px;
    
}
.genre{
    color: #004d00;
}
.year{
    color: #003366;
}